body{
    margin: 0px;
    background-color: rgb(245, 241, 241);
     
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
    }
    h1{
        text-align: center;
        font-family:  Georgia, Times, 'Times New Roman', serif;
        color: rgb(10, 10, 10);
    }
    .navbar ul{
        list-style-type:none;
        background-color: rgb(9, 39, 68) ;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        color: rgb(246, 239, 239);
    }
    .navbar a{
        color: rgb(247, 247, 247);
       text-decoration: dotted; 
        padding:20px;
        display:block;
        text-align:right;
        font-family:Verdana,  Tahoma, sans-serif;
         
    }
    .navbar a:hover{
        background-color: hsl(0, 3%, 7%);
    }
    .navbar li{
        float: left;
         
    }